venv/
.env
__pycache__/
*.pyc
mlruns/
models/
*.db
.dvc/
data/raw/
data/processed/

# Python virtualenv
/ragenv/
# DVC cache and local data
/.dvc/cache
/dvc-storage/
# Python bytecode
__pycache__/
*.pyc
